/*----------- header top area start -----------*/
@media only screen and (max-width: 479.98px) {
  .your-country {
    color: #fff;
    font-size: 1.2rem;
    line-height: 2.2;
    background-color: #6b6b6b;
  }
}
.your-country span {
  margin: 0 10px;
}
.your-country img {
  width: 24px;
}
.langFlag {
  display: block;
  color: #fff !important;
  width: 24px;
  height: 24px !important;
  line-height: 24px !important;
  text-align: center;
  border-radius: 50%;
  background-color: #29c3ef;
}
.addons li {
  list-style: none;
  display: inline-block;
  width: 50%;
  float: left;
}
.addons li a {
  display: block;
  text-align: center;
}
.addons li a img {
  width: 36px;
}
.addons li a.cart {
  position: relative;
}
.addons li a.cart:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #eee;
}
.addons li a.lang-flag {
}
.addons li a.lang-flag img {
  width: 30px;
  margin-top: 8px;
}
.navbar__social {
  display: block;
  /* text-align: center; */
  width: 100%;
  margin: 0;
}
.navbar__social li {
  display: inline-block;
}
.navbar__social li a {
}
.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.navbar__social li,
.navbar__contacts li {
  list-style: none;
}

.navbar__social li a,
.navbar__contacts li a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.875rem;
}

.navbar__social li a i,
.navbar__contacts li a i {
  color: #08c6f2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar__social li a:hover,
.navbar__contacts li a:hover {
  text-decoration: none;
}

.navbar__social li a:hover i,
.navbar__contacts li a:hover i {
  color: #fff;
}

.navbar__social li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 0.875rem;
  margin: 0 0.5rem;
}

@media (max-width: 767.98px) {
  .navbar__social li:not(:last-child) {
    /* margin-right: 0.75rem; */
  }
}

.navbar__contacts li:not(:last-child) {
  margin-right: 2rem;
}

.navbar__contacts li a i {
  margin-left: 0.5rem;
}

@media (max-width: 767.98px) {
  .navbar__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar__contacts li:not(:last-child) {
    margin-bottom: 1rem;
    margin-right: initial;
  }
}

.header-top {
  padding: 10px 0;
  background-color: #12758c;
}

.header-top-settings ul li {
  color: #fff;
  font-weight: bold;
  /* cursor: pointer; */
  font-size: 14px;
  position: relative;
  margin-left: 40px;
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

.header-top-settings ul li:before {
  top: 50%;
  left: 0;
  width: 1px;
  height: 15px;
  content: "";
  position: absolute;
  background-color: #ebebeb;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-top-settings ul li a b {
  color: #fff;
  margin: 0 5px;
}

.header-top-settings ul li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.header-top-settings ul li:first-child:before {
  display: none;
}

.header-top-settings ul li span {
  cursor: auto;
  font-size: 13px;
  text-transform: capitalize;
}

.header-top-settings ul li .dropdown-list {
  top: 100%;
  right: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 15px 15px 20px;
  width: 150px;
  z-index: 9;
  text-align: left;
  background-color: #fff;
  pointer-events: none;
  border: 1px solid #ebebeb;
}

.header-top-settings ul li .dropdown-list li {
  margin-left: 0;
  padding: 0;
}

.header-top-settings ul li .dropdown-list li a {
  color: #555;
  font-size: 13px;
  display: block;
  padding: 5px 0 3px;
  text-transform: capitalize;
}

.header-top-settings ul li .dropdown-list li a:hover {
  color: #cc2121;
}

.header-top-settings ul li .dropdown-list li a img {
  vertical-align: inherit;
}

.header-top-settings ul li .dropdown-list li:before {
  display: none;
}

.header-top-settings ul li:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.welcome-message p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
}

/*----------- header top area end -----------*/
/*------- header main area start -------*/
/*---------- header mini cart start ----------*/
.header-configure-area {
  padding-right: 10px;
}

.header-configure-area ul li {
  display: inline-block;
  margin-left: 25px;
  line-height: 1;
}

.header-configure-area ul li a {
  font-size: 20px;
  line-height: 1;
  color: #111;
  position: relative;
}

.header-configure-area ul li a img {
  width: 24px;
  height: 24px;
}

.header-configure-area ul li a .notification {
  top: -10px;
  right: -8px;
  position: absolute;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #cc2121;
}

.header-configure-area ul li a:hover {
  color: #cc2121;
}

.header-configure-area ul li:first-child {
  margin-left: 0;
}

.header-configure-area ul li.user-hover {
  position: relative;
}

.header-configure-area ul li.user-hover .dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  padding: 20px;
  background-color: #fff;
  z-index: 11;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #ebebeb;
}

.header-configure-area ul li.user-hover .dropdown-list li {
  display: block;
  margin-left: 0;
}

.header-configure-area ul li.user-hover .dropdown-list li a {
  color: #555;
  font-size: 13px;
  line-height: 1;
  display: block;
  padding: 8px 0;
  text-transform: capitalize;
}

.header-configure-area ul li.user-hover .dropdown-list li a:hover {
  color: #cc2121;
}

.header-configure-area ul li.user-hover:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

/*----------- header settinngs area end -----------*/
/*---------- main menu style start ---------*/
.main-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-menu ul li {
  position: relative;
  list-style: none;
}

.main-menu ul li.static {
  position: static;
}

.main-menu ul li a {
  color: #929292;
  font-size: 16px;
  padding: 40px 10px;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* border-radius: 5px;
  font-family: "Roboto", sans-serif; */
}

.main-menu ul li a:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #08c6f2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.main-menu ul li a i {
  font-size: 14px;
  padding: 0 3px;
}

.main-menu ul li:first-child a {
  /* padding-left: 0; */
}
.main-menu ul li:hover > a:after,
.main-menu ul li.active > a:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.main-menu ul li:hover > a,
.main-menu ul li.active > a {
  color: #08c6f2;
}

.main-menu ul li ul.dropdown {
  top: 100%;
  left: 0;
  width: 220px;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  padding: 20px 0;
  pointer-events: none;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  border: 1px solid #ebebeb;
}

.main-menu ul li ul.dropdown li {
  margin-right: 0;
  border-right: none;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 0;
}

.main-menu ul li ul.dropdown li a {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 15px;
  text-transform: capitalize;
}

.main-menu ul li ul.dropdown li a i {
  float: right;
  padding-top: 5px;
}

.main-menu ul li ul.dropdown li:hover > a {
  color: #cc2121;
  background-color: #fff;
}

.main-menu ul li ul.dropdown li ul.dropdown {
  top: 100%;
  left: 100%;
  position: absolute;
  width: 250px;
  opacity: 0;
  visibility: hidden;
}

.main-menu ul li ul.dropdown li:hover ul.dropdown {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.main-menu ul li ul.megamenu {
  width: calc(100% - 30px);
  padding: 20px;
  border: 1px solid #ebebeb;
  left: 0;
  right: 0;
  margin: auto;
}

.main-menu ul li ul.megamenu li {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.main-menu ul li ul.megamenu li.mega-title > a {
  color: #111;
  font-size: 16px;
  font-weight: 500;
}

.main-menu ul li ul.megamenu li ul li {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.main-menu ul li ul.megamenu li:hover > a {
  color: #cc2121;
}

.main-menu ul li ul.megamenu li.megamenu-banners {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-top: 25px;
  padding-bottom: 10px;
  position: relative;
}

.main-menu ul li ul.megamenu li.megamenu-banners:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.main-menu ul li ul.megamenu li.megamenu-banners:hover:before {
  opacity: 1;
  visibility: visible;
}

.main-menu ul li:hover ul.dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.main-menu ul li:hover ul.megamenu {
  opacity: 1;
  visibility: visible;
}

/*---- header style 2 start ----*/
.header-transparent {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.header-middle-inner {
  padding: 30px 0;
}

.header-search-box {
  width: 250px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.header-search-box .header-search-field {
  width: 100%;
  padding: 5px 25px 5px 0;
  border: none;
  background-color: transparent;
}

.header-search-box .header-serch-btn {
  top: 50%;
  right: 0;
  font-size: 18px;
  line-height: 1;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-search-box .header-serch-btn:hover {
  color: #cc2121;
}
header .logo img {
  max-height: 70px;
}
/*---------- main menu style end ---------*/
/*------ sticky menu style start ------*/
.sticky.is-sticky {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999999;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1
    running fadeInDown;
  animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running
    fadeInDown;
}

.sticky.is-sticky .logo img {
  max-height: 50px;
}
.sticky.is-sticky .main-menu li a {
  /* padding: 20px 15px; */
  padding: 20px 11px;
}

.sticky.is-sticky .main-menu li .dropdown li a {
  padding: 5px 15px;
}

.sticky.is-sticky .main-menu li:first-child a {
  /* padding-left: 0; */
}

/*------ sticky menu style end ------*/
/*----- mobile menu start -----*/
.mobile-header .category-toggle {
  padding: 8px 15px;
}

.mobile-header-top {
  border-bottom: 1px solid #ebebeb;
}

.mobile-header-top .header-top-settings {
  float: none;
}

.mobile-logo img {
  max-width: 80px;
  width: 100%;
}

.mobile-main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mobile-main-header .mobile-menu-toggler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  position: relative;
  margin-left: 15px;
}
.mobile-main-header .mobile-menu-toggler .mini-cart-wrap img {
  height: 24px;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap a {
  color: #111;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap a:hover {
  color: #cc2121;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap .notification {
  font-size: 13px;
  color: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  right: -8px;
  top: 0;
  position: absolute;
  background-color: #cc2121;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn {
  margin-left: 25px;
}
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn img {
  height: 24px;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn .off-canvas-btn {
  cursor: pointer;
  /* font-size: 30px;
  padding: 10px 15px;
  line-height: 1;
  padding-right: 0; */
}

.mobile-main-header
  .mobile-menu-toggler
  .mobile-menu-btn
  .off-canvas-btn:hover {
  color: #cc2121;
}

.mobile-navigation {
  overflow: hidden;
  /* max-height: 250px; */
}

.mobile-navigation nav {
  height: 100%;
}

.mobile-menu {
  margin-top: 30px;
  height: 100%;
  overflow: auto;
  padding-right: 30px;
  margin-right: -30px;
}

@media only screen and (max-width: 479.98px) {
  .mobile-menu {
    margin-top: 15px;
  }
}

.mobile-menu li > a {
  font-size: 15px;
  color: #111;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding: 10px 0;
}

.mobile-menu li > a:hover {
  color: #cc2121;
}

.mobile-menu li ul li {
  border: none;
  padding-left: 15px;
}

.mobile-menu li ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 0;
}

.mobile-menu li.menu-item-has-children {
  display: block;
  position: relative;
}

.mobile-menu li.menu-item-has-children .menu-expand {
  line-height: 50;
  top: -5px;
  left: 95%;
  width: 30px;
  position: absolute;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.mobile-menu li.menu-item-has-children .menu-expand i {
  display: block;
  position: relative;
  width: 10px;
  margin-top: 25px;
  border-bottom: 1px solid #111;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.mobile-menu li.menu-item-has-children .menu-expand i:before {
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  border-bottom: 1px solid #111;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu li.menu-item-has-children.active > .menu-expand i:before {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

/*----- mobile menu end -----*/
/*------ offcanvas widget area start ------*/
.offcanvas-widget-area {
  margin-top: auto;
  padding-bottom: 30px;
}

@media only screen and (max-width: 479.98px) {
  .offcanvas-widget-area {
    padding-bottom: 0;
  }
}

.off-canvas-contact-widget li {
  color: #555;
  font-size: 15px;
  margin-bottom: 5px;
  list-style: none;
}

.off-canvas-contact-widget li i {
  width: 20px;
}

.off-canvas-contact-widget li a {
  color: #555;
}

.off-canvas-contact-widget li a:hover {
  color: #cc2121;
}

.off-canvas-social-widget {
  margin-top: 20px;
}

.off-canvas-social-widget a {
  color: #555;
  font-size: 18px;
  display: inline-block;
  margin-right: 15px;
}

.off-canvas-social-widget a:hover {
  color: #cc2121;
}

/*------ offcanvas widget area end ------*/
.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 999999;
}

.off-canvas-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.off-canvas-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  cursor: url("../img/cancel.png"), auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-wrapper .off-canvas-inner-content {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(-100% - 50px));
  -ms-transform: translateX(calc(-100% - 50px));
  transform: translateX(calc(-100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 479.98px) {
  .off-canvas-wrapper .off-canvas-inner-content {
    width: 260px;
    padding: 15px;
  }
}

.off-canvas-wrapper .btn-close-off-canvas {
  top: 0;
  left: 100%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #cc2121;
}
.off-canvas-wrapper .btn-close-off-canvas img {
  text-align: center;
  height: 24px;
}
.mobile-header.sticky {
  padding: 6px 0;
}
.off-canvas-wrapper .btn-close-off-canvas i,
.off-canvas-wrapper .btn-close-off-canvas img {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  /* display: block; */
  line-height: 40px;
}

.off-canvas-wrapper .btn-close-off-canvas:hover i,
.off-canvas-wrapper .btn-close-off-canvas:hover img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.off-canvas-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  height: 100%;
}

.search-box-offcanvas form {
  position: relative;
}

.search-box-offcanvas form input {
  color: #666;
  font-size: 13px;
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 40px 0 10px;
  background-color: #f2f2f2;
}

.search-box-offcanvas form .search-btn {
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 42px;
  font-size: 20px;
  color: #111;
  position: absolute;
}

.search-box-offcanvas form .search-btn:hover {
  color: #cc2121;
}

/*------- mobile top bar settings start -------*/
.mobile-settings {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #ebebeb;
}

.mobile-settings li {
  margin-bottom: 5px;
}

.mobile-settings .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle {
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:hover {
  color: #cc2121;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:after {
  display: none;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu {
  padding: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-color: #ebebeb;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu .dropdown-item {
  font-size: 13px;
  color: #555;
  padding: 6px 15px;
}

/*------- mobile top bar settings end -------*/
/*-------- start section spacing --------*/
.section-space {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 767.98px) {
  .section-space {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mbn-30 {
  margin-bottom: -30px;
}

.mbn-40 {
  margin-bottom: -40px;
}

.mtn-40 {
  margin-top: -40px;
}

.mbn-45 {
  margin-bottom: -45px;
}

/*-------- end section spacing --------*/
/*------- Buttons Style here -------*/
.btn-hero {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 18px 36px;
  border-radius: 3px;
  display: inline-block;
  background-color: #cc2121;
  text-transform: capitalize;
  border-radius: 0;
}

@media only screen and (max-width: 767.98px) {
  .btn-hero {
    padding: 13px 25px;
  }
}

.btn-hero:hover {
  color: #fff;
  background-color: #111;
}

.btn-load-more {
  font-size: 14px;
  padding: 18px 25px;
}

.btn-read {
  color: #111;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-top: 12px;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
}

.btn-read:hover {
  color: #cc2121;
  text-decoration: underline;
}

.btn__bg {
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0;
  text-transform: capitalize;
  background-color: #cc2121;
}

.btn__bg:hover {
  color: #fff;
  background-color: #111;
}

.btn-outline {
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  text-transform: capitalize;
  padding: 5px 20px;
  border-radius: 4px;
}

.btn-outline:hover {
  color: #fff;
  border-color: #cc2121;
  background-color: #cc2121;
}

.btn-cart {
  font-size: 14px;
  padding: 9px 25px;
  border-radius: 40px;
  background-color: #fff;
  text-transform: capitalize;
  -webkit-box-shadow: 1px 1px 1rem 0 rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 1rem 0 rgba(0, 0, 0, 0.08);
}

.btn-cart:hover {
  color: #cc2121;
}

.btn-cart2 {
  color: #fff;
  font-size: 14px;
  padding: 9px 25px;
  background-color: #cc2121;
  text-transform: capitalize;
}

.btn-cart2:hover {
  color: #fff;
  background-color: #111;
}

.store-link {
  font-size: 14px;
  color: #111;
  font-weight: 500;
  line-height: 1;
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  margin-top: 20px;
  pointer-events: visible;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 575.98px) {
  .store-link {
    margin-top: 10px;
  }
}

.store-link:hover {
  color: #cc2121;
}

.store-link:hover:after {
  background-color: #cc2121;
}

.store-link:after {
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #111;
}

.view-more-btn {
  margin-top: 58px;
  text-align: center;
}

@media only screen and (max-width: 767.98px) {
  .view-more-btn {
    margin-top: 44px;
  }
}
.offcanvas-search-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.offcanvas-search-inner.show {
  opacity: 1;
  visibility: visible;
}

.offcanvas-search-inner.show .offcanvas-search-box {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.offcanvas-search-inner .offcanvas-close {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #fff;
  color: #cc2121;
  font-size: 22px;
  cursor: pointer;
  top: 50px;
  right: 50px;
  position: absolute;
  z-index: 9;
}

.offcanvas-search-inner .offcanvas-close i {
  display: block;
  line-height: 50px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.offcanvas-search-inner .offcanvas-close:hover i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.offcanvas-search-box {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.offcanvas-search-box .bdr-bottom {
  border-color: #cc2121;
}

.offcanvas-search-box input {
  width: 100%;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding-right: 20px;
  padding-bottom: 15px;
  background-color: transparent;
}

.offcanvas-search-box input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  opacity: 1;
}

.offcanvas-search-box input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  opacity: 1;
}

.offcanvas-search-box input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  opacity: 1;
}

.offcanvas-search-box input::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  opacity: 1;
}

.offcanvas-search-box input::placeholder {
  color: #fff;
  font-size: 16px;
  opacity: 1;
}

.offcanvas-search-box .search-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  padding-bottom: 15px;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.offcanvas-search-box .search-btn i {
  display: block;
  line-height: 1;
  font-size: 28px;
  padding-right: 15px;
}

.offcanvas-search-box .search-btn:hover {
  color: #cc2121;
}

/*-------- off canvas mini cart start --------*/
.minicart-inner {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
}

.minicart-inner .offcanvas-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: url("../img/cancel.png"), auto;
}

.minicart-inner.show {
  opacity: 1;
  visibility: visible;
}

.minicart-inner.show .minicart-inner-content {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.minicart-inner .minicart-close {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #cc2121;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  top: 0;
  right: 375px;
  position: absolute;
}

.minicart-inner .minicart-close i {
  display: block;
  line-height: 50px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.minicart-inner .minicart-close:hover i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.minicart-inner .minicart-inner-content {
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 375px;
  position: absolute;
  background-color: #fff;
  -webkit-transform: translateX(calc(100% + 50px));
  -ms-transform: translateX(calc(100% + 50px));
  transform: translateX(calc(100% + 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 50px 20px;
}

.minicart-content-box {
  overflow: auto;
  height: 100%;
  padding-right: 30px;
  margin-right: -15px;
}

.minicart-item-wrapper {
  border-bottom: 1px solid #ebebeb;
}

.minicart-item-wrapper ul li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

.minicart-item-wrapper ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.minicart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.minicart-thumb {
  max-width: 85px;
  -webkit-flex-basis: 85px;
  -ms-flex-preferred-size: 85px;
  flex-basis: 85px;
  border: 1px solid #dfdede;
}

.minicart-content {
  padding: 0 10px;
  max-width: calc(100% - 115px);
  -webkit-flex-basis: calc(100% - 115px);
  -ms-flex-preferred-size: calc(100% - 115px);
  flex-basis: calc(100% - 115px);
}

.minicart-content .product-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 10px;
}

.minicart-content .product-name a {
  color: #111;
}

.minicart-content .product-name a:hover {
  color: #cc2121;
}

.minicart-content .cart-quantity {
  font-size: 12px;
  color: #555;
  line-height: 1;
}

.minicart-content .cart-quantity strong {
  font-size: 16px;
  font-weight: 400;
  vertical-align: text-bottom;
}

.minicart-content .cart-price {
  color: #cc2121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.minicart-remove {
  max-width: 30px;
  -webkit-flex-basis: 30px;
  -ms-flex-preferred-size: 30px;
  flex-basis: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: #111;
}

.minicart-remove:hover {
  color: #cc2121;
}

.minicart-pricing-box {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.minicart-pricing-box li {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.minicart-pricing-box li span {
  font-size: 14px;
  color: #111;
  text-transform: capitalize;
}

.minicart-pricing-box li span strong {
  color: #cc2121;
  font-weight: 500;
}

.minicart-pricing-box li.total span {
  font-size: 16px;
  font-weight: 500;
}

.minicart-pricing-box li:last-child {
  margin-bottom: 0;
}

.minicart-button a {
  color: #fff;
  font-size: 13px;
  display: block;
  font-weight: 500;
  line-height: 1;
  padding: 17px 0;
  background-color: #111;
  text-transform: uppercase;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.minicart-button a i {
  padding-right: 5px;
}

.minicart-button a:hover {
  background-color: #cc2121;
}

.minicart-button a:last-child {
  margin-bottom: 0;
}

/*-------- off canvas mini cart end --------*/
